In [176]:
import pandas as pd
import numpy as np

import glob

path = r'/Users/kaustubhrajimwale/Desktop/Portfolio Projects/Musk/' #https://www.kaggle.com/datasets/ayhmrba/elon-musk-tweets-2010-2021
all_files = glob.glob(path + "/*.csv")

li = []

for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)

frame = pd.concat(li, axis=0, ignore_index=True)

In [177]:
frame.drop(['Unnamed: 0', 'id', 'conversation_id', 'created_at', 'timezone',
       'place', 'language', 'user_id',
       'user_id_str', 'username', 'name', 'day', 'hour', 'link', 'urls',
       'photos', 'video', 'thumbnail', 'retweet', 'quote_url', 'search', 'near', 'geo', 'source',
       'user_rt_id', 'user_rt', 'retweet_id', 'reply_to', 'retweet_date',
       'translate', 'trans_src', 'trans_dest','time','retweets_count','likes_count','mentions'], axis=1, inplace=True)

In [178]:
frame

,date,tweet,hashtags,cashtags,nlikes,nreplies,nretweets,replies_count
0,2020-12-28 19:46:18,Entertainment will be critical when cars drive...,[],[],55085.0,2922.0,2611.0,NaN
1,2020-12-28 18:07:33,@kimpaquette Just meeting with Larry Ellison t...,[],[],8631.0,601.0,314.0,NaN
2,2020-12-28 17:23:51,@richierichhhhh_ Absolutely,[],[],72434.0,495.0,907.0,NaN
3,2020-12-28 17:23:31,What should Tesla do with in-car gaming in an ...,[],[],33830.0,6932.0,884.0,NaN
4,2020-12-28 05:39:42,@PPathole @WSJ Absolutely,[],[],2394.0,131.0,92.0,NaN
...,...,...,...,...,...,...,...,...
34873,2011-12-03 08:22:07,That was a total non sequitur btw,[],[],53.0,31.0,6.0,NaN
34874,2011-12-03 08:20:28,"Great Voltaire quote, arguably better than Twa...",[],[],29.0,7.0,25.0,NaN
34875,2011-12-01 10:29:04,I made the volume on the Model S http://t.co/...,[],[],78.0,31.0,9.0,NaN
34876,2011-12-01 09:55:11,Went to Iceland on Sat to ride bumper cars on ...,[],[],189.0,32.0,15.0,NaN
34877,2010-06-04 18:31:57,"Please ignore prior tweets, as that was someon...",[],[],4652.0,391.0,348.0,NaN

In [179]:
import datetime
frame['year'] = pd.DatetimeIndex(frame['date']).year
frame['month'] = pd.DatetimeIndex(frame['date']).month
frame.drop('date', axis=1, inplace=True)

In [180]:
frame.isnull().sum()

tweet                0
hashtags             0
cashtags             0
nlikes            4143
nreplies          4143
nretweets         4143
replies_count    30735
year                 0
month                0
dtype: int64

In [181]:
frame.apply(pd.Series.nunique)

tweet            15219
hashtags            35
cashtags             3
nlikes            8120
nreplies          2148
nretweets         3488
replies_count     2010
year                13
month               12
dtype: int64

In [182]:
frame.hashtags.value_counts()

[]                               34608
['dragonlaunch']                    48
['dragon']                          47
['apspacechat']                     16
['sxsw']                            14
['occupymars']                      11
['falconheavy']                      9
['whatcouldpossiblygowrong']         8
['zeitgeist2012']                    8
['awesomexmasgifts']                 8
['grasshopperproject']               8
['antarctica']                       8
['climate']                          8
['occupymars', 'apspacechat']        8
['plutostamp']                       8
['katiewoodencloak']                 7
['teslatx']                          7
['sb47']                             7
['hhgttg']                           7
['yutu']                             6
['donotpanic']                       3
['falconheavy', 'spacex']            3
['throwflamesresponsibly']           3
['pravduh']                          3
['armageddon69']                     2
['moneygang']                        2
['newprofilepic']                    2
['teamhumanity']                     2
['deletefacebook']                   1
['justiceforgeorge']                 1
['cancelnewsnetwork']                1
['bitcoin']                          1
['gravitas']                         1
['resistanceisfutile']               1
['mars']                             1
Name: hashtags, dtype: int64

In [183]:
frame.drop(['hashtags','cashtags','replies_count'], axis=1, inplace=True)
df = frame[frame['year'] > 2015]

In [184]:
df

,tweet,nlikes,nreplies,nretweets,year,month
0,Entertainment will be critical when cars drive...,55085.0,2922.0,2611.0,2020,12
1,@kimpaquette Just meeting with Larry Ellison t...,8631.0,601.0,314.0,2020,12
2,@richierichhhhh_ Absolutely,72434.0,495.0,907.0,2020,12
3,What should Tesla do with in-car gaming in an ...,33830.0,6932.0,884.0,2020,12
4,@PPathole @WSJ Absolutely,2394.0,131.0,92.0,2020,12
...,...,...,...,...,...,...
32542,"In ~2 years, summon should work anywhere conne...",7163.0,613.0,4346.0,2016,1
32543,Tap your phone or key and your car will open t...,4205.0,248.0,2743.0,2016,1
32544,First baby step in Tesla Summon capability now...,3380.0,127.0,1496.0,2016,1
32545,"Worth reading The Machine Stops, an old story ...",2926.0,254.0,837.0,2016,1
32546,Falcon 9 back in the hangar at Cape Canaveral....,9877.0,523.0,4600.0,2016,1

In [185]:
df = df[df['tweet'].apply(lambda x: len(x) >= 70)]

In [186]:
df

,tweet,nlikes,nreplies,nretweets,year,month
1,@kimpaquette Just meeting with Larry Ellison t...,8631.0,601.0,314.0,2020,12
6,Try playing Polytopia in your Tesla! Great gam...,148037.0,5355.0,4186.0,2020,12
7,@WSJ Focus on making products &amp; services p...,46407.0,1178.0,5085.0,2020,12
8,@ThatDesignGuy @m_siphiw @moosuraj @Tesla Roug...,2031.0,106.0,78.0,2020,12
11,"@teslaownersSV @lexfridman Ok, service might b...",3012.0,223.0,124.0,2020,12
...,...,...,...,...,...,...
32542,"In ~2 years, summon should work anywhere conne...",7163.0,613.0,4346.0,2016,1
32543,Tap your phone or key and your car will open t...,4205.0,248.0,2743.0,2016,1
32544,First baby step in Tesla Summon capability now...,3380.0,127.0,1496.0,2016,1
32545,"Worth reading The Machine Stops, an old story ...",2926.0,254.0,837.0,2016,1
32546,Falcon 9 back in the hangar at Cape Canaveral....,9877.0,523.0,4600.0,2016,1